<!-- Modal Secondaire : dirigeant le pet-sitter vers le formulaire d'inscription -->
<div
  class="modal fade"
  id="sitterSignupModal"
  aria-hidden="true"
  aria-labelledby="sitterSignupModal"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="sitterSignupModal">Devenez membre</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Enregistrez-vous et créer un compte pour trouver le parfait
          pet-sitting✨.
        </p>
        <form [formGroup]="petSitterForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="petSitterLastName" class="form-label"
              >Nom de famille</label
            >
            <input
              type="text"
              class="form-control"
              id="petSitterLastName"
              formControlName="petSitterLastName"
              pattern="[a-zA-Z]+[\s|-]?[a-zA-Z]+[\s|-]?[a-zA-Z]+$"
              placeholder="Doe"
              [required]="true"
            />
            <div
              class="text-danger"
              *ngIf="petSitterForm.get('petSitterLastName')?.errors?.['pattern']"
            >
              <i class="fa fa-times-circle"></i>Le nom fournit est invalide.
            </div>
            <div
              class="text-danger"
              *ngIf="petSitterForm.get('petSitterLastName')?.errors?.['required'] && petSitterForm.get('petSitterLastName')?.touched"
            >
              <i class="fa fa-times-circle"></i>Veuillez remplir le champ nom.
            </div>
          </div>
          <div class="mb-3">
            <label for="petSitterFirstName" class="form-label">Prénom</label>
            <input
              type="text"
              class="form-control"
              id="petSitterFirstName"
              formControlName="petSitterFirstName"
              pattern="[a-zA-Z]+[\s|-]?[a-zA-Z]+[\s|-]?[a-zA-Z]+$"
              placeholder="John"
              [required]="true"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="petSitterForm.get('petSitterFirstName')?.errors?.['pattern']"
          >
            <i class="fa fa-times-circle"></i>Le prénom fournit est invalide.
          </div>
          <div
            class="text-danger"
            *ngIf="petSitterForm.get('petSitterFirstName')?.errors?.['required'] && petSitterForm.get('petSitterFirstName')?.touched"
          >
            <i class="fa fa-times-circle"></i>Veuillez remplir le champ prénom.
          </div>
          <div class="mb-3">
            <label for="petSitterBirthDate" class="form-label"
              >Date de naissance</label
            >
            <input
              type="date"
              class="form-control"
              id="petSitterBirthDate"
              formControlName="petSitterBirthDate"
              [required]="true"
            />
            <div
              class="text-danger"
              *ngIf="
                petSitterForm.get('petSitterBirthDate')?.invalid &&
                petSitterForm.get('petSitterBirthDate')?.touched
              "
            >
              <i class="fa fa-times-circle"></i>Vous devez être majeur pour vous
              inscrire.
            </div>
          </div>
          <div class="mb-3">
            <label for="petSitterEmail" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="petSitterEmail"
              placeholder="johnDoe@email.com"
              [required]="true"
              formControlName="petSitterEmail"
            />
            <div
              class="text-danger"
              *ngIf="petSitterForm.get('petSitterEmail')?.touched && petSitterForm.get('petSitterEmail')?.errors?.['required']"
            >
              <i class="fa fa-times-circle"></i>Veuillez fournir un email
            </div>
            <div
              class="text-danger"
              *ngIf="
                petSitterForm.get('petSitterEmail')?.errors?.['pattern']
                "
            >
              <i class="fa fa-times-circle"></i>L'email fournit est invalide
            </div>
          </div>
          <div class="mb-3">
            <label for="petSitterPasswd" class="form-label">Mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="petSitterPasswd"
              [required]="true"
              formControlName="petSitterPasswd"
            />
            <span id="passwordHelpInline" class="form-text">
              Doit être compris entre 8 et 15 caractères
            </span>
            <div
              class="text-danger"
              *ngIf="
                  petSitterForm.get('petSitterPasswd')?.errors?.['required'] &&
                  petSitterForm.get('petSitterPasswd')?.touched
                "
            >
              <i class="fa fa-times-circle"></i>Veuillez fournir un mot de
              passe.
            </div>
            <div
              class="text-danger"
              *ngIf="
                petSitterForm.get('petSitterPasswd')?.invalid &&
                petSitterForm.get('petSitterPasswd')?.touched
              "
            >
              <i class="fa fa-times-circle"></i>Le mot de passe doit contenir au
              moins 1 chiffre, 1 caractère spéciale, 1 majuscule, 1 minuscule,
              et doit être compris entre 8 et 15 caractères.
            </div>
          </div>
          <label for="petPreference" class="form-label">Préférence</label>
          <select
            class="form-select"
            aria-label="default select example"
            formControlName="petPreference"
          >
            <option selected ngValue="null" disabled>
              Choisissez un animal de compagnie
            </option>
            <option *ngFor="let item of pets" [value]="item">
              {{ item }}
            </option>
          </select>
          <button
            type="submit"
            class="btn btn-primary mt-3"
            [disabled]="!petSitterForm.valid"
          >
            Créer mon compte
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          data-bs-target="#signupModal"
          data-bs-toggle="modal"
        >
          Retour
        </button>
      </div>
      <div *ngIf="displaySpinner" class="d-flex align-items-center m-3">
        <strong>Chargement...</strong>
        <div
          class="spinner-border ms-auto"
          role="status"
          aria-hidden="true"
        ></div>
      </div>
    </div>
  </div>
</div>
