<div class="container-md m-3">
  <h2>Informations détaillées</h2>
  <div class="row">
    <div class="col m-3">
      <ul>
        <li>Identifiant: {{ user.id }}</li>
        <li>Nom de famille: {{ user.lastName }}</li>
        <li>Prénom: {{ user.firstName }}</li>
        <li>Date de naissance: {{ user.birthDate | date: "shortDate" }}</li>
        <li>Email: {{ user.email }}</li>
        <li *ngIf="!user.Owner">Préfèrence : {{ user.petPreference }}</li>
        <li>
          Score:
          <!-- Si le score est null on affiche des étoiles vides  -->
          <i *ngIf="this.user.score == null">
            <i
              *ngFor="let item of scoreBoard"
              class="fa fa-star-o"
              aria-hidden="true"
            ></i>
          </i>
          <i *ngIf="this.user.score != null">
            <i *ngFor="let item of nbFullStar; index as i">
              <i class="fa fa-star" aria-hidden="true"></i>
            </i>
            <i
              *ngFor="let item of nbEmptyStar"
              class="fa fa-star-o"
              aria-hidden="true"
            >
            </i>
          </i>
        </li>
        <li>
          <a routerLink="/edit/password">Modifier votre mot de passe ?</a>
        </li>
      </ul>
      <a
        *ngIf="user.Owner == true"
        class="btn btn-primary"
        routerLink="/edit/owner"
      >
        <i class="fa fa-pencil" aria-hidden="true"></i> Modifier
      </a>
      <a
        *ngIf="user.Owner == false"
        class="btn btn-primary"
        routerLink="/edit/petsitter"
      >
        <i class="fa fa-pencil" aria-hidden="true"></i> Modifier
      </a>
      <a
        *ngIf="user.Owner == true"
        class="btn btn-success m-2"
        routerLink="/edit/owner/addAnimal"
        ><i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter un
        animal</a
      >
      <div *ngIf="user.Owner == true && pets.length > 0">
        <h3>Mes pets</h3>
        <p>
          Vous pouvez à tout moment modifier les informations de votre animal de
          compagnie
        </p>
        <div class="table-responsive">
          <ng-template [ngIf]="user.Owner && pets.length > 0">
            <table class="table table-striped table-hover table-responsive">
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Catégories</th>
                  <th scope="col">Race</th>
                  <th scope="col">Date de naissance</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pet of pets">
                  <ng-template [ngIf]="!pet.isEdit">
                    <td>{{ pet.nickName }}</td>
                    <td>{{ pet.type }}</td>
                    <td>{{ pet.breed }}</td>
                    <td>
                      {{ pet.birthDate | date: "shortDate" }}
                    </td>
                    <td>
                      <button
                        class="fa fa-pencil btn"
                        (click)="editPet(pet)"
                      ></button>
                      <button
                        class="fa fa-trash btn"
                        (click)="deletePet(pet.nickName, pet.id)"
                      ></button>
                    </td>
                  </ng-template>
                  <ng-template [ngIf]="pet.isEdit">
                    <td>
                      <input
                        class="form-control"
                        type="text"
                        [(ngModel)]="pet.nickName"
                        pattern="[a-zA-Z]+[\s|-]?[a-zA-Z]+[\s|-]?[a-zA-Z]+$"
                        required="true"
                        name="nickName"
                      />
                    </td>
                    <td>
                      <select
                        class="form-select"
                        aria-label="default select example"
                        required="true"
                        [(ngModel)]="pet.type"
                        name="categories"
                      >
                        <option selected ngValue="null" disabled>
                          Choisissez une catégorie.
                        </option>
                        <option
                          *ngFor="let categorie of categories"
                          [value]="categorie"
                        >
                          {{ categorie }}
                        </option>
                      </select>
                    </td>
                    <td>
                      <input
                        class="form-control"
                        type="text"
                        [(ngModel)]="pet.breed"
                        pattern="[a-zA-Z]+[\s|-]?[a-zA-Z]+[\s|-]?[a-zA-Z]+$"
                        required="true"
                      />
                    </td>
                    <td>
                      <input
                        class="form-control"
                        type="date"
                        [(ngModel)]="pet.birthDate"
                        required="true"
                        name="birthDate"
                      />
                    </td>
                    <button
                      class="fa fa-check btn"
                      (click)="savePet(pet)"
                    ></button>
                    <button class="fa fa-ban btn" (click)="cancel(pet)"></button
                  ></ng-template>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </div>
      </div>
      <!-- <form [formGroup]="editForm" (ngSubmit)="submitModification(null)"> -->
      <!-- <td *ngIf="!pet.isEdit">{{ pet.nickName }}</td> -->
      <!-- <td *ngIf="pet.isEdit">
                    <input
                      formControlName="nickName"
                      pattern="[a-zA-Z]+[\s|-]?[a-zA-Z]+[\s|-]?[a-zA-Z]+$"
                      [required]="true"
                      [ngModel]="pet.nickName"
                      type="text"
                    />
                  </td> -->
      <!-- <td *ngIf="!pet.isEdit">{{ pet.type }}</td> -->
      <!-- <td *ngIf="pet.isEdit">
                    <select
                      class="form-select"
                      aria-label="default select example"
                      formControlName="type"
                      [required]="true"
                    >
                      <option selected ngValue="null" disabled>
                        Choisissez une catégorie.
                      </option>
                      <option
                        *ngFor="let categorie of categories"
                        [value]="categorie"
                      >
                        {{ categorie }}
                      </option>
                    </select>
                  </td> -->
      <!-- <td *ngIf="!pet.isEdit">{{ pet.breed }}</td>
                  <td *ngIf="pet.isEdit">
                    <input
                      class="table"
                      *ngIf="pet.isEdit"
                      formControlName="breed"
                      [ngModel]="pet.breed"
                      pattern="[a-zA-Z]+[\s|-]?[a-zA-Z]+[\s|-]?[a-zA-Z]+$"
                      [required]="true"
                      type="text"
                    />
                  </td> -->
      <!-- <td *ngIf="!pet.isEdit">
                    {{ pet.birthDate | date: "longDate" }}
                  </td>
                  <td *ngIf="pet.isEdit">
                    <input
                      *ngIf="pet.isEdit"
                      formControlName="birthDate"
                      [ngModel]="pet.birthDate"
                      [required]="true"
                      type="date"
                      [value]="pet.birthDate"
                    />
                  </td> -->
      <!-- </form> -->
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          src="https://images.unsplash.com/photo-1618173745201-8e3bf8978acc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80"
          class="card-img-top"
          alt="espace_personel_chien"
        />
        <div class="card-body">
          <h5 class="card-title">
            Bienvenue
            <i class="fa fa-paw" aria-hidden="true"></i>
          </h5>
          <p class="card-text">
            Vous pouvez avoir accès à vos informations personnel et les modifier
            ici.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
