<div class="container-md m-3">
  <h2>Informations détaillées</h2>
  <div class="row">
    <div class="col m-3">
      <ul>
        <li>Identifiant: {{ user.id }}</li>
        <li>Nom de famille: {{ user.lastName }}</li>
        <li>Prénom: {{ user.firstName }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Date de naissance: {{ this.birthDate }}</li>
        <li *ngIf="!user.Owner">Préfèrence : {{ user.petPreference }}</li>
        <li>
          Score:
          <!-- Si le score est null on affiche des étoiles vides  -->
          <i *ngIf="this.user.score == null">
            <i
              *ngFor="let item of scoreBoard"
              class="fa fa-star-o"
              aria-hidden="true"
            ></i>
          </i>
          <i *ngIf="this.user.score != null">
            <i *ngFor="let item of nbFullStar; index as i">
              <i class="fa fa-star" aria-hidden="true"></i>
            </i>
            <i
              *ngFor="let item of nbEmptyStar"
              class="fa fa-star-o"
              aria-hidden="true"
            >
            </i>
          </i>
        </li>
      </ul>
      <a
        *ngIf="user.Owner == true"
        class="btn btn-primary"
        routerLink="/edit/owner"
      >
        <i class="fa fa-pencil" aria-hidden="true"></i> Modifier
      </a>
      <a
        *ngIf="user.Owner == false"
        class="btn btn-primary"
        routerLink="/edit/petSitter"
      >
        <i class="fa fa-pencil" aria-hidden="true"></i> Modifier
      </a>
      <a
        *ngIf="user.Owner == true"
        class="btn btn-success m-2"
        routerLink="/edit/owner/addAnimal"
        ><i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter un
        animal</a
      >
      <table
        *ngIf="user.Owner == true && pets.length > 0"
        class="table table-striped table-hover"
      >
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Catégories</th>
            <th scope="col">Race</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pet of pets">
            <td>{{ pet.nickName }}</td>
            <td>{{ pet.type }}</td>
            <td>{{ pet.breed }}</td>
            <td>{{ pet.birthDate }}</td>
            <td>
              <i
                class="fa fa-pencil m-2"
                role="button"
                aria-hidden="true"
                (click)="editPet()"
                *ngIf="!isEdited"
              ></i
              ><i
                *ngIf="!isEdited"
                class="fa fa-trash"
                role="button"
                aria-hidden="true"
                (click)="deletePet(pet.nickName, pet.id)"
              ></i>
              <i
                ><i
                  *ngIf="isEdited"
                  class="fa fa-check"
                  role="button"
                  (click)="editPet()"
                  aria-hidden="true"
                ></i>
              </i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          src="https://images.unsplash.com/photo-1618173745201-8e3bf8978acc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80"
          class="card-img-top"
          alt="espace_personel_chien"
        />
        <div class="card-body">
          <h5 class="card-title">
            Bienvenue
            <i class="fa fa-paw" aria-hidden="true"></i>
          </h5>
          <p class="card-text">
            Vous pouvez avoir accès à vos informations personnel et les modifier
            ici.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
