<div class="container-fluid">
  <h2 class="mt-2">Modifier votre mot de passe</h2>
  <div class="bd-callout bd-callout-info">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    Avant de mettre à jour votre mot de passe veuillez renseigner votre mot de
    passe actuel.
  </div>

  <div class="flex-col">
    <form [formGroup]="passwordForm" (ngSubmit)="SubmitForm()">
      <div class="mt-1">
        <label class="form-label" for="currentPassword"
          >Mot de passe actuel:</label
        >
        <input
          class="form-control"
          id="currentPassword"
          type="password"
          formControlName="currentPassword"
        />
        <app-form-error
          [control]="passwordForm.get('currentPassword')"
          patternMessage="Le mot de passe est invalide"
          requiredMessage="Ce champ est vide"
        ></app-form-error>
      </div>
      <div class="mt-3">
        <label class="form-label" for="oldPassword"
          >Nouveau mot de passe:</label
        >
        <input
          class="form-control"
          id="oldPassword"
          type="password"
          formControlName="newPassword"
        />
        <app-form-error
          [control]="passwordForm.get('currentPassword')"
          patternMessage="Le mot de passe est invalide"
          requiredMessage="Ce champ est vide"
        ></app-form-error>
      </div>
      <span class="form-text">
        Doit être compris entre 8 et 15 caractères
      </span>
      <div class="mt-3">
        <label class="form-label" for="confirmNewPassword">Confirmation:</label>
        <input
          class="form-control"
          type="password"
          id="confirmNewPassword"
          formControlName="confirmNewPassword"
        />
        <app-form-error
          [control]="passwordForm.get('confirmNewPassword')"
          patternMessage="Les mots de passes ne correspondent pas"
          patternMessage="Le mot de passe est invalide"
          requiredMessage="Ce champ est vide"
        ></app-form-error>
      </div>

      <div class="flex-row">
        <button class="btn btn-success">Ok</button>
        <!-- [disabled]="!passwordForm.valid" -->
        <a class="btn btn-secondary" routerLink="/dashboard">Retour</a>
      </div>
    </form>
  </div>
</div>
