<div class="p-5 m-4 bg-light border rounded-3" id="showcase">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">
      Pet Sitting en toute <span>confiance</span>
    </h1>
    <p class="col-md-8 fs-4">
      Vous partez en vacances, ou en voyage d'affaire ?
    </p>
    <p class="col-md-8 fs-4">
      Trouvez des pet-sitters vérifiés pour vos animaux de compagnie durant
      votre absence.
    </p>
    <a routerLink="" class="btn btn-secondary btn-lg m-2" id="btn-plain"
      >Trouver un pet-sitter</a
    >
    <a routerLink="" class="btn btn btn-outline-secondary btn-lg"
      >Trouver un pet-sitting</a
    >
  </div>
  <a id="more" href="#info">
    Plus <i class="fa fa-angle-down" aria-hidden="true"></i
  ></a>
</div>
<div id="cards">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quam aut,
  voluptas cupiditate fuga consequatur repellat debitis dolore aspernatur
  temporibus maiores, neque quae magni veritatis rem porro, aliquid
  necessitatibus unde aliquam ipsum libero quibusdam laudantium modi
  accusantium? Unde, atque reiciendis, iste dignissimos molestiae quas numquam
  sed, nobis quis ullam repudiandae officiis neque quisquam ducimus omnis magnam
  earum! Tempora et, animi nobis culpa ipsum totam voluptate optio quo aliquid
  quaerat dolore est molestiae similique, unde amet nisi ex perferendis ratione
  magni neque! Fugit deleniti sunt aperiam natus quaerat laborum dolores<span
    id="info"
    >est</span
  >. Dolorem accusamus ratione aut cupiditate earum saepe qui corporis soluta!
</div>
